[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
quart = "*"
quart-cors = "*"
quart-auth = "*"
quart-redis = "*"
quart-schema = "*"
pydantic = "*"
argon2-cffi = "*"
hypercorn = "*"
pre-commit = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-mock = "*"

[requires]
python_version = "3.11"
